@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './_Vars.scss';

body {
  font-family: $font-family;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $color-neutral;
  background-color: $color-primary;
}

a{
  text-decoration: none;
  color: $color-neutral;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}