@import '../../styles/_Vars';

.header{
   
    opacity: 0.8;
    width: 100%;
    background-color: $color-secundary;
    position: sticky;
    top: 0px;
    &__container{
        max-width:$desktop ;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding: 0 10px;
        &--img{
        width: 150px;
        }
        &--about{
            display: flex;
            flex-direction: column;
            align-items: center;
            svg{
                font-size: 30px;
                color: $color-neutral;
            }
            span{
                display: none;
                @media (min-width: $movile) {
                    display:block;
                    text-decoration: none;
                }
            }
        }
    }

}